{% extends 'base.html' %}

{% block title %}Staff Attendance Form{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% if form.instance.pk %}Edit Staff Attendance{% else %}Add New Staff Attendance{% endif %}</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary me-2">Save</button>
                            <a href="{% url 'staff_attendance_list' %}" class="btn btn-secondary">Back to Staff Attendance List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
